.container {
  width: 1140px;
  display: block;
  margin: 0 auto;
}

.btn {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height, or 167% */

  letter-spacing: 0.5px;
  text-transform: capitalize;
  transition: 0.3s all;
  color: #FFFFFF;
  background: #6157AB;
  border-radius: 5px;
  padding: 12px 24px;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 0 10px 5px #9d95dd;
}