.header {
    padding: 15px 0;
    &_block {
        display: flex;
        justify-content: flex-end;
    }
    &_menu {
        display: flex;
        width: 490px;
        justify-content: space-between;
        &_link {
            list-style: none;
            a {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 30px;
                /* identical to box height, or 167% */
                text-decoration: none;

                color: #636769;
                &:hover {
                    color: #6157AB;;
                }
            }
        }
    }
    &_btn {
        margin-left: 45px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        /* identical to box height, or 167% */

        letter-spacing: 0.5px;
        text-transform: capitalize;

        color: #FFFFFF;
        background: #6157AB;
        border-radius: 5px;
        width: 158px;
        height: 54px;
        cursor: pointer;
    }
}