.empower {
  padding-top: 72px;
  background: #f5f4f2;
  &_title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 65px;
    /* identical to box height, or 125% */

    text-align: center;
    letter-spacing: 0.675px;

    color: #333333;
  }
  &_tabs {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 60px;
  }
  &_btn {
    padding: 15px 25px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */

    letter-spacing: 2.32px;
    text-transform: uppercase;

    color: #7a858a;
    box-sizing: border-box;
    background: #ffffff;
    border: 1px solid #aab8bf;
    border-radius: 6.8px;
    cursor: pointer;
    transition: 0.2s all;
    &:hover {
      background: #eceaf8;
      border: 1px solid #6157ab;
      color: #6157ab;
    }
  }
}
